<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cat Adoption</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header>
        <h1>Welcome to Amazing Cats!!</h1>
    </header>

    <nav>
        {{#if logged_in}}
        <a href="/dashboard">Home</a>
        {{!-- <a href="/shelter">My Shelter</a> | --}}
        <button class="no-button" id="logout">Logout</button>
        {{else}}
        {{!-- <a href="/login">Login</a> --}}
        {{/if}}
    </nav>

    <main>
        {{{body}}}
    </main>

    <footer>
        {{!-- <p>Thank you for considering adopting a cat!</p> --}}
    </footer>

    <!-- Render script for logged in users only -->
    <div> {{#if logged_in}}
        <script src="/js/logout.js"></script>
        {{/if}}
    </div>

</body>

</html>