<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Amazing Cats</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/style.css">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Lilita+One&family=Merriweather:ital@0;1&family=Space+Mono&family=Work+Sans:wght@400;500;800&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <h1>Welcome to Amazing Cats!!</h1>
    </header>

    <nav>
        {{#if logged_in}}
        <a href="/dashboard">Home</a>
        <button class="no-button" id="logout">Logout</button>
        {{/if}}
    </nav>

    <main>
        {{{body}}}
    </main>
    <div>
        {{#if logged_in}}
        <script src="/js/logout.js"></script>
        {{/if}}
        
    </div>
</body>
