<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="">
        <label for="cat-name">Name: </label>
        <input id="cat-name" type="text">
        <label for="cat-breed">Breed: </label>
        <input id="cat-breed" type="text">
        <label for="cat-age">Age: </label>
        <input id="cat-age" type="text">
        <label for="cat-description">Description: </label>
        <input id="cat-description" type="text">
        <label for="cat-photo">Photo file: </label>
        <input id="cat-photo" type="text">
        <label for="adoptable">Is this cat adoptable: </label>
        <input id="adoptable" type="checkbox">
    </form>
</body>
</html>