<div id="dashboard">
  <div id="shelter-area">
    {{#if logged_in}}
      {{#each shelters as |shelter|}}
        <div class="card shelter-card">
          <div>
            <img src="/photos/logo.png" alt="AC Logo" id="shelter-logo" />
            <h5 class="card-title">{{shelter.username}}</h5>
            <a href="/shelter/{{shelter.id}}" class="view-location">View
              Available Cats</a>
          </div>
        </div>
      {{/each}}
    {{/if}}
  </div>

   <div id="sign-up-area">
      <form class="new-location-form">
        <h2>Add New Location</h2>
        <div class="form-group">
          <input
            class="form-input"
            type="text"
            id="username-signup"
            placeholder="Username"
          />
        </div>
        <div class="form-group">
          <input
            class="form-input"
            type="password"
            id="password-signup"
            placeholder="Password"
          />
        </div>
        <button class="btn" type="submit">Add</button>
      </form>
    </div>

</div>
<script src="./js/newLocation.js"></script>