<div>
    {{#if logged_in}}
    {{#each shelters as |shelter|}}
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">{{shelter.username}}</h5>
            <a href="/shelter/{{shelter.id}}" class="btn btn-primary">View Location</a>
        </div>
    </div>
    {{/each}}
    {{/if}}
</div>