
<form class="form add-cat-form">
        <label for="cat-name">Name: </label>
        <input id="cat-name" type="text">
        <label for="cat-breed">Breed: </label>
        <input id="cat-breed" type="text">
        <label for="cat-age">Age: </label>
        <input id="cat-age" type="text">
        <label for="cat-description">Description: </label>
        <input id="cat-description" type="text">
        <label for="cat-photo">Choose a photo:</label>
<input type="file" id="cat-photo" name="cat-photo" accept=".jpg, .jpeg, .png" />
        <button id="new-cat-submit">Submit</button>
    </form>