:root {
    --light-purple: #E7BAEF;
    --mint: #C1F0BB;
    --soft-green: #EEF0BB;
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header {
    background-color: var(--light-purple);
    width: 95%;
    height: 15vh;
    border-radius: 0 0 10px 10px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Lilita One', sans-serif;
}

header > h1 {
    font-size: 3rem;
}

main {
    display: flex;
    justify-content: center;
    align-content: space-around;
}

#login-area {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 25rem;
    height: 10rem;
    align-items: center;
   
}

#login-area > h2{
    font-size: 1.5rem;
    margin-bottom: 15px;
    font-family: 'Lilita One', sans-serif;
}

.form-group{
    display: flex;
    justify-content: space-between;
}
#shelter-page {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.cat-card-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 50rem;
    height: 30rem;
    border: 1px solid red;
}

.cat-card {
    width: 12rem;
    height: 13rem;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.cat-card > img{
    width: 80%;
}